[Unit]
Description=MariaDB check and rebuild cluster service
After=multi-user.target docker.service
Requires=docker.service

[Service]
Type=idle
ExecStart=/usr/bin/python /home/galeraha/mariadb_check.py

[Install]
WantedBy=multi-user.target
