[Unit]
Description=Socket Service for MariaDB check
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/galeraha/socket_server.py

[Install]
WantedBy=multi-user.target
